<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="Browser" value="chrome"></parameter>
		<parameter name="Url" value="http://localhost:3000/"></parameter>
		<classes>
			<class name="Testscriptes.TC_Login" />
			<class name="Testscriptes.TC_User" />
			<class name="Testscriptes.TC_Admin" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
